:root {
    --pink: #ffdcd0;
    --white: #fff;
    --contrast: rgb(109, 109, 109);
    --black: #000;
    --offWhite: #fafafa;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
    position: relative;
    width: 100%;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

.current {
    border-bottom: 1px solid var(--black) !important;
}

#site-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 50%;
    color: var(--contrast);
    margin-top: 50px;
}

span {
    color: var(--contrast);
}

/* Navbar */
#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--offWhite);
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: all .2s ease-in-out;
}

#navbar h2 {
    margin-top: 10px;
} 

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin: 20px 0px;
    text-align: center;
}

#navbar.scrolled {
    transform: translateY(-40px);
}

#nav-links li {
    margin-right: 25px;
}

#nav-links a {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: border-bottom .5s ease;
}

#nav-links a:hover {
    border-bottom: 1px solid rgba(0,0,0,1);
}


/* Toggle Button */
#toggle-btn {
    position: fixed;
    z-index: 11;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#toggle-btn #burger {
    width: 40px;
    height: 2px;
    background: var(--black);
    transition: all .5s ease-in-out;
}

#toggle-btn #burger::before,
#toggle-btn #burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: var(--black);  
    transition: all .5s ease-in-out;
}

#toggle-btn #burger::before {
    transform: translateY(-10px);
}

#toggle-btn #burger::after {
    transform: translateY(10px);
}

#toggle-btn.open #burger {
    transform: translateX(-50px);
    background: transparent;
}

#toggle-btn.open #burger::before {
    transform: translateX(50px) rotate(-45deg);
}

#toggle-btn.open #burger::after {
    transform: translateX(50px) rotate(45deg);
}


/* Side bar */
#side-bar {
    position: absolute;
    z-index: 10;
    width: 0%;
    height: 100%;
    right: -10px;
    background: var(--offWhite);
    padding: 25px 5px;
    transition: all .3s ease-in-out;
    opacity: 0;
    /* display: none; */
}


#side-bar.active {
    position: absolute;
    z-index: 10;
    width: 75%;
    height: 100%;
    right: 0;
    background: var(--offWhite);
    padding: 25px 5px;
    opacity: 1;
}

#side-bar h2 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    display: block;
    border-bottom: var(--contrast) 1px solid;
    font-weight: lighter;
}

#side-bar #nav-links li {
    margin-bottom: 25px;
    font-size: 1.3rem;
    font-weight: lighter;
}

/* SV Banner */
#sv-banner {
    height: 80px;
    width: 100%;
    z-index: 9;
    background: var(--offWhite);
}

/* Footer Area */
#footer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: var(--pink);
    z-index: 9;
}

#footer-img {
    background: url(./photos/big\ cheesin.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
}

#footer-area h1,
#footer-area h2,
#footer-area h3 {
    margin: 20px 0;
}

/* flowers */
#top-flower {
    position: absolute;
    top: 0px;
    width: 100%;
}

#bottom-flower {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0px;
    width: 100%;
}

/* Accomadate container */
#accomodate-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 250px 0;
}

#accomodate-container > h1,
#accomodate-container > h3 {
    color: var(--contrast);
    text-align: center;
    margin: 15px 0;
}

/* Specific accomodation */
.accomodation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--contrast);
    margin: 50px 5px;
    padding: 10px;
}

.accomodation i,
.accomodation .accom-desc,
.accomodation a {
    padding: 15px;
}

.accomodation i {
    width: 25%;
}

.accomodation a {
    background: var(--pink);
    color: var(--contrast);
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 25%;
}

.accomodation .accom-desc {
    text-align: left;
    line-height: 1.4rem;
}

.accomodation .accom-desc p {
    margin-top: 5px;
    color: var(--contrast);
}


